@inject IDialogService DialogService
@using NBAShared;
@if(CompareToolRows?.Count > 0)
{
    <MudText Typo="Typo.h3" Color="Color.Secondary">Player Comparison Tool</MudText>
    <div class="row">
        <div class="col-12 col-lg-4"></div>
        <div class="col-12 col-lg-4">
            @if (BaseCompareToolRows?.Count > 0)
            {
                <MudAutocomplete T="CompareToolRow" Label="Player Select" SearchFunc="@PlayerSearch" ToStringFunc="@DisplayPlayerInSearch"
                                 ResetValueOnEmptyText="true" Value="_selectedPlayer" ValueChanged="OnPlayerChange"
                                 CoerceText="true" CoerceValue="true" MaxItems="25"
                                 AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />

            }
        </div>
        <div class="col-12 col-lg-4"></div>
    </div>
    <br /><br />
    <div class="row">       
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <MudSlider @bind-Value="@PrimaryWeights.ShotSuccess" Variant="Variant.Filled">Shot Success: @PrimaryWeights.ShotSuccess</MudSlider>
            <br />
            <MudIconButton Icon="@Icons.Material.Filled.Settings" @onclick="OpenShotSuccessWeights" Variant="Variant.Filled" Color="ShotSuccessIconColor"></MudIconButton>
            <br /><br />
            <MudSlider @bind-Value="@PrimaryWeights.Height" Variant="Variant.Filled">Height: @PrimaryWeights.Height</MudSlider>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <MudSlider @bind-Value="@PrimaryWeights.ShotLocation" Variant="Variant.Filled">Shot Location: @PrimaryWeights.ShotLocation</MudSlider>
            <br />
            <MudIconButton Icon="@Icons.Material.Filled.Settings" @onclick="OpenShotLocationWeights" Variant="Variant.Filled" Color="ShotLocationIconColor"></MudIconButton>
            <br /><br />
            <MudSlider @bind-Value="@PrimaryWeights.Weight" Variant="Variant.Filled">Weight: @PrimaryWeights.Weight</MudSlider>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <MudSlider @bind-Value="@PrimaryWeights.Position" Variant="Variant.Filled">Position: @PrimaryWeights.Position</MudSlider>
            <br />
            <MudIconButton Icon="@Icons.Material.Filled.Settings" @onclick="OpenPositionWeights" Variant="Variant.Filled" Color="PositionIconColor"></MudIconButton>
            <br /><br />
            <MudSlider @bind-Value="@PrimaryWeights.Usage" Variant="Variant.Filled">Usage: @PrimaryWeights.Usage</MudSlider>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <MudSlider @bind-Value="@PrimaryWeights.Per100Stats" Variant="Variant.Filled">Per 100 Stats: @PrimaryWeights.Per100Stats</MudSlider>
            <br />
            <MudIconButton Icon="@Icons.Material.Filled.Settings" @onclick="OpenPer100Weights" Variant="Variant.Filled" Color="Per100IconColor"></MudIconButton>
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-4"></div>
                    <div class="col-12 col-lg-4">
                        <div class="text-center" style="width:50%; display:inline-block">
                            <MudSelect T="int" Label="Experience" @bind-Value="@_selectedExperience" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" ToStringFunc="@DisplayExperience">
                                @{
                                    for (int i = 0; i < 23; i++)
                                    {
                                        <MudSelectItem T="int" Value="i" />
                                    }
                                }
                            </MudSelect>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4"></div>
                </div>
            </div>           
            <br />
            <MudButton OnClick="Calculate" Disabled="@(!AreAllWeightValuesCorrect)" Variant="Variant.Filled">Calculate</MudButton>
            <br />
            <MudText Color="@WeightProgressColor">@PrimaryWeights.Total/100</MudText>
            <br /><br />
            <MudDataGrid Items="@CompareToolRows" SortMode="SortMode.None" RowsPerPage="15"
                         RowStyleFunc="@RowStyleFunc">
                <Columns>
                    <HierarchyColumn T="CompareToolRow" />
                    <PropertyColumn Property="x => x.PlayerName" Title="Player" />
                    <PropertyColumn Property="x => x.Team" Title="Team" />
                    <PropertyColumn Property="x => x.Season" Title="Season" />
                    <PropertyColumn Property="x => x.Age" Title="Age" />
                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Experience" Color="Color.Primary" Placement="Placement.Top">
                                Exp
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Experience</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Height" Color="Color.Primary" Placement="Placement.Top">
                                Ht
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.HeightText</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Weight" Color="Color.Primary" Placement="Placement.Top">
                                Wt
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Weight.ToString("F0")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Minutes" Color="Color.Primary" Placement="Placement.Top">
                                Mins
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Minutes.ToString("F0")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Minutes Listed at PG" Color="Color.Primary" Placement="Placement.Top">
                                PG%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.PGPercent.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Minutes Listed at SG" Color="Color.Primary" Placement="Placement.Top">
                                SG%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.SGPercent.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Minutes Listed at SF" Color="Color.Primary" Placement="Placement.Top">
                                SF%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.SFPercent.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Minutes Listed at PF" Color="Color.Primary" Placement="Placement.Top">
                                PF%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.PFPercent.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Minutes Listed at C" Color="Color.Primary" Placement="Placement.Top">
                                C%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.CPercent.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Points Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                Pts/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.PointsPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Assists Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                Ast/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.AssistsPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Offensive Rebounds Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                OReb/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.OffensiveReboundsPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Defensive Rebounds Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                DReb/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.DefensiveReboundsPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Blocks Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                Blk/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.BlocksPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Steals Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                Stl/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.StealsPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Turnovers Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                TO/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.TurnoversPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Free Throws Made Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                FTM/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.FreeThrowMakesPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Free Throws Attempted Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                FTA/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.FreeThrowAttemptsPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Personal Fouls Per 100 Possessions" Color="Color.Primary" Placement="Placement.Top">
                                PF/100
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.PersonalFoulsPer100.ToString("F1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Attempts between 0 and 3 Feet" Color="Color.Primary" Placement="Placement.Top">
                                0-3 Att%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_0To3_AttemptPercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Shooting Percentage Between 0 Feet and 3 Feet" Color="Color.Primary" Placement="Placement.Top">
                                0-3 Mk%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_0To3_MakePercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Attempts Between 3 and 10 Feet" Color="Color.Primary" Placement="Placement.Top">
                                3-10 Att%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_3To10_AttemptPercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Shooting Percentage Between 3 and 10 Feet" Color="Color.Primary" Placement="Placement.Top">
                                3-10 Mk%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_3To10_MakePercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Attempts Between 10 and 16 Feet" Color="Color.Primary" Placement="Placement.Top">
                                10-16 Att%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_10To16_AttemptPercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Shooting Percentage Between 10 and 16 Feet" Color="Color.Primary" Placement="Placement.Top">
                                10-16 Mk%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_10To16_MakePercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Attempts Between 16 Feet and the 3 Point Line" Color="Color.Primary" Placement="Placement.Top">
                                16-3pt Att%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_16To3Pt_AttemptPercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Shooting Percentage Between 16 Feet and the Three Point Line" Color="Color.Primary" Placement="Placement.Top">
                                16-3Pt Mk%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_16To3Pt_MakePercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Attempts From Behind the 3 Point Line" Color="Color.Primary" Placement="Placement.Top">
                                3pt Att%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_3Pt_AttemptPercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Three Point Shooting Percentage" Color="Color.Primary" Placement="Placement.Top">
                                3pt Mk%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_3Pt_MakePercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Three Point Attempts that are Corner Threes" Color="Color.Primary" Placement="Placement.Top">
                                Cn3 Att%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_Corner_3PtOf3s_AttemptPercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Corner Three Shooting Percentage" Color="Color.Primary" Placement="Placement.Top">
                                Cn3 Mk%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_Corner_3Pt_MakePercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Percentage of Attempts that are Dunks" Color="Color.Primary" Placement="Placement.Top">
                                Dnk Att%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Shot_Dunk_AttemptPercent.ToString("P1")</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudTooltip Text="Usage Percentage" Color="Color.Primary" Placement="Placement.Top">
                                Usg%
                            </MudTooltip>
                        </HeaderTemplate>
                        <CellTemplate>
                            <span>@context.Item.Usage.ToString("F2")</span>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Similarity" Title="Score" Format="F1" StickyRight="true" CellStyleFunc="@SimilarityStyleFunc" />
                </Columns>
                <ChildRowContent>
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@context.Item.PlayerName</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText>
                                <AIReport PlayerName="@context.Item.PlayerName" Season="@context.Item.Season" />
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ChildRowContent>
                <PagerContent>
                    <MudDataGridPager />
                </PagerContent>
            </MudDataGrid>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 text-center">
            <br /><br /><br /><br />            
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            <MudText>Loading data...</MudText>
        </div>
    </div>
}
